.chat-name {
  background-color: white;

  cursor: default;

  text-align: right;
  font-weight: bold;

  padding: 7px 10px 0 10px;
}

.full {
  display: flex;
  flex-direction: row;
}

.board {
  width: 30vw;
  height: calc(94vh - 20px);
  background-color: white;

  padding-top: 20px;

  display: flex;
  flex-direction: column;

  .board-chats {
    overflow: hidden;
    width: 100%;
    height: 30px;
    margin: 10px 0 0 10px;

    border-radius: 10px 0 0 10px;

    background-color: #f7f7f7;

    color: black;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration-line: blink;

    input.add-new-chat {
      text-align: center;
      background-color: #f7f7f7;
      border: solid 0 white;
    }

    div.add-new-chat {
      font-weight: bolder;
      margin-left: 5px;
      font-size: 25px;
    }

    input:focus-visible {
      outline: 0;
    }
  }

  .board-users {
    padding: 10px;
    color: #939393;

    div {
      display: flex;
      justify-content: space-between;
      cursor: default;

      svg {
        fill: gold;

        margin-left: 10px;
        width: 20px;
      }
    }
  }
}

.board.right {
  border-radius: 10px 0 0 10px;
}

.board.left {
  border-radius: 0 10px 10px 0;
}

.chat {
  margin: auto;
  width: 60vw;
  height: 90vh;
  padding: 7px;

  background-color: white;

  display: flex;
  flex-direction: column-reverse;
  overflow-y: hidden;

  .messages {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
  }

  input {
    height: 20px;
    margin: 10px;
    padding-left: 10px;

    border: none;
    border-top: solid #939393 1px;
  }

  input:focus-visible {
    outline: 0;
  }

}

.messages::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  background-color: transparent;
}

.messages::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ececec;
}

.messages::-webkit-scrollbar-button {
  height: 1px;
}
